body {
  background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}

#townSquare {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 720px;
  background-color: black;
  color: black;
  margin: 0 auto;
  padding: 10px;
}

#townSquareImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: block;
}

#storeImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}

#caveInsideImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}
#buyHealthImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}
#buyDaggerImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}
#buyClawHammerImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}
#buySwordImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}
#winImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}
#loseImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}

#fightDragonImage {
  min-width: 1200px;
  min-height: 570px;
  max-width: 1200px;
  max-height: 570px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
  display: none;
}
